body {
  margin: 0;
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  text-align: center;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

h1 {
  font-size: 100px;
}

.btnleft {
  font-size: 20px;
  font-weight: bolder;
  background-color: yellow;
  color: black;
  padding: 20px 40px;
  border-radius: 40px;
  cursor: pointer;
  
}

.btnright {
  font-size: 20px;
  font-weight: bolder;
  background-color: black;
  color: yellow;
  padding: 20px 40px;
  border-radius: 40px;
  cursor: pointer;
  
}

.split {
  width: 50%;
  height: 100%;
  top: 0;
}

.split.left {
  position: absolute;
  left: 0;
  color: yellow;
  background-color: black;
  
  background-image: url("data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBw8QEBUSEA8QEBISEA8WEBAPDhAVEA8QFhUWFhUWFRUYICggGBolHhUVITEhJiorLy4uFx8zODMtNygtLi0BCgoKDg0OGxAQGi0dHyUtLSsrLS0rLS0tLS0vKy0tLS0tLS0tLS8tKy0tLS0tLS0tLS0tLS0tLS0tLS0tLSsrLf/AABEIAOkA2QMBIgACEQEDEQH/xAAcAAEAAQUBAQAAAAAAAAAAAAAAAQIEBQYHCAP/xABPEAABAwICBAcIDAwGAwAAAAABAAIDBBEFIQYSMXETIkFRYXORBzOBk7GywdEUFSMkMlJTVJKhs9MWFzRCVWJydIKU0vBDRGSEouElg6P/xAAZAQEBAQEBAQAAAAAAAAAAAAAAAgMBBAX/xAAmEQEBAAICAgEDBAMAAAAAAAAAAQIRAxIhMRMiMkFRYXHwBBQj/9oADAMBAAIRAxEAPwDuKIiAiIgIiICIiAiIgIiICIiAiIgIiICIiAiKzxfEoqWB88xtHG27rbTyAAcpJIA6SELdLxWeI4pDTtJkkaDYkM12B77fFaSLnoWi4RV1mLNfVVM76LD49fVhp3lkkzWXLy+YcbVFiDa17HZa512i7ovsem4VuBwR0kkjonuFSzWldq6zw4FmtIdXa43F8iVXHx5cn2xnM+03PTomA6Y09YzWYypzfIAW0dS5mq15DSZGsLQS0NNr5XtyLYmOuL5jeCD2Fc1x/T2poKkwswkBk0vuDnTajql1mMLgwNNsy0diusQ7oVTS0plrMPEFQ+bUpqU1F3TMAaZJCQ3itGtbYbmw5bqpw56n7/wqb15dCRYPQvHjiFFHVGMRGQzAxh5cG6kj2fCsL31b7OVZxRZZdVQiIuAiIgIiICIiAiIgIiICIiAiIgIiICIiAsPpfgxrqKWnDg1z2tLHHYHscHtv0EtAPQVmERyzc1XIYq2qOEyYQynczEATHwL3xRmWme8ue9jnua1/F1m5E7b5i9ti0W7mdBBHBLUU/CVTGRukL5XujE1rmzL6pAOzIjIFbhiWF09S0NnhjlAN267QSw87TtaekL4U+FPiyiqp9UbI53CZg/if7ofpq8eTLHHrEY43Ga9tRxLR6sqsejqZYCKOkjaYXGSEiWRoLhZmtrNPCPGZA70OhYHE9Ecar56itlDaWRrJGUlM4wSudCWPHBtcHFjCQ4jWJvrPccgAusxCQfCcx37LHN8pK+yuc+U9Setf3+V6ar3MsKqKTDmQVMXBSNknOoXxus10jnA3YSOXnW1Iizyy7W2uiIikEREBEWk6X6TOY58ULxG2MEzzXtq22gHktsyzJ5gM+ybct03GaojZ8N7GftOA8q+XtlT/AC8PjWetedMRx2qkvJAy0RJtUVMscQl6Wa7hcbr71YM0jq4nATghrtjmuBaf2XNJBVdE97+j0z7Z0/y8PjWetPbOn+Xh8az1rg8Fe57Q5shIIyN19PZMnx3dqdE/I7p7Z0/y8PjWetPbOn+Xh8az1rhXsmT47u1R7Jk+O7tTofI7t7Z0/wAvD41nrU+2MHy8XjWetcHNTJ8d3aqXVL+VxPQ7MfWnR35HefbOn+Xh8az1p7Z0/wAvD41nrXD8Do6OWa1S2WzyBdlXUsaw84a14AHPlltysb5XS6gwPC42vqW1jjISI44q2rdI/VtrHOQAAXG08qdDu637Z0/y8PjWetPbOn+Xh8az1rz1+FmjnzXFv5uX79Pwr0c+aYt/Ny/frnX91dr+j0L7Z0/y8PjWetSMSp/l4fGs9a5XoxguDYjBw1OKvVDi17JK2sbJG8AEtcOEI2EG4JGaucT0LoGxksFQCHNF/Z1Wefneq+OovLJ7dQhqGP8AgPY/9lwPkX1XEHaLhpDoaqrhePgu9kOkaD0skuD9W9bToPpbVNqPYGIkOkLb01SL6s7L22nl2Agm4JG0OFuXCxWPJK6MiIoWIiICIiAiIgIiIKJpNVpd8VpPYLrzzpHXcJLFBKSWPMs9TnnKyJj36hPMeDI/jK9A4j3mTqpPNK8xaWVXBVkT7awbE67fjMcXtePC1xHhV4Iz9xqddWTVcpkkOs53wW5BrGjYxg2AAZABV4dJnwRPucp1SOQPOTHjmINs+a4Uy4e4ZxAzR34rmC7gOZ7Rm129RqmLjycV4B4OM/DLjsc4fmgbc+ZBsWhlYXNcw8liPT6FtF1pOhos8/snyhbzJTSMF3sLRsz5+Y8x6Crnpnl7fNEREoVJVSpKCI3WcD0jwrctJNEosZpoDLK+KWNgLZWtDvhtbrhzSRcEtB2haXyjeF1XAW+94urb5EpvTm34kmfpF38oPvEHcTZ+kXfyg+8XWCgVdMXPkya9ozo5FhVMYYXukc95fJK8AFzyAMmj4IAGQzV9qXYR+sPSr2Zl1RweXhXMbqIy81juAWB01hLI6eoZlJBWwaruUNlPBPA+k0/whbZwa13uhG1Dl87ou3h2H0LtvhzH7o6lE/WaHD84A9ouq1b4d3mPqo/NCuF53uEREBERAREQEREFtiXeZOqk80ry7plE6SrjYxpc98Yaxo2ucXkAdpXqLEu8ydVJ5pXmrFnEYhGRk7gKhsfWuilDPrc1XgjL212qFHTks1X1Uoyke2UxwMdytjsNZ9jlrEgHmVk6GGQOdEHMc0FzonuDrtG1zH2F7bSCL25TZWMQzFwDlbO+R594V5StDJ26rtYNdcuta7BfWuOTi3QZvRB+rKHD83PPls5pXSsXx1k8IjbG4Ou3Wc8g2DdjRbbvK5fobfWPQ3yn/pbmFcZ5e0ooREipKklUlBA2jeF13AGe9YuqZ5FyHlG8Lr+jD9akiP6lvokt9C5SrssRrF9y1A1d7eHNPg9i+MlgLlXcisagXUw8bWMspceYcy13ugfkLRz1dGeyZnrWylq1zuiD3kOipo/t2LS5fTpGM+p1HDu8x9VH5oVwrfDu8x9VH5oVwvO9oiIgIiICIiAiIgtsS7zJ1UnmlecNKMOdLxmX12EEWNjyHI869G4xIG08zjsbDKTs2BhPKuFVI453+hXgzz/Dm1YWOcTLG9kl+OYtWzzyksOw7j4FbC7uJCxw1snOdm9w5stg/u66NPRxv+Gxrt7QqIqKNnwWNbuACrSe7GaP4aYWZ/CObujmCzShrbKpdTaKEUI4KkqSqSjqBtG8LrOirtWnjZcni3F/1iXEfWuSjaN4XS9G5TwEfOAfqcQmtpt02xoUOCimfrZ84VFZJqgqVLDEKnkHhVDTxRuCs6h9zvVzLIGjM2C0mPjTC3ztQ5a93Rm+8h+9UX27Fmmzg3IOzy8i1rT0k0gP+qo/t2Jljr2rC+XWMO7zH1UfmhXCtMIkDqeFw2OhiI2bCwHkV2vO9oiIgIiICIiAiIgxmk/5DU/ulT9m5cSqvhu3rtuk/wCQ1P7rU/ZuXEao8c71pgy5HyRFCpmKEuoJQFBKXUXR0KpKFQSgN2jeFvmAz6sTWmwIDja+di4kHsIPhWhNOY3hZx0xDWPGRAIuL7WkgfVZbcOPasuX06TgtTc6vT5QvljFUA7Vvyk+hYDRXEteZnOXarh0q20hxTVe6x4xcQOi20q/h/6I73rpfPqwHXuLtBdbdsv4bKzfUOcbkk71iKKQ2JJzcbb7Zn69VX8D234xy5enoW3TSNszQx8XPlz8HJ/fSsRp833kP3qi+3YstDWg7B2rF6ekmgBIt76osv8A3sXm5cb7Xx3y6Po1+RU37rT/AGbVkljdGvyKm/daf7NqyS8b6EEREBERAREQEREFpi8TX08zXC7XQyhw52lhBC4NUnjn++Rd7xLvMnVSeaVwCoPHP98ivBnyF1F1RdLq2aq6+ElZG06rpGg8xcMt/Mq3uyO4rTHOJNybk5k85KOyNip6v3RxklaL5MjDxYC+02yvs+tZElahSMa6RodsLgCtt2bMkKklQSoJVJKOKmnMbwplxFzdZpzALrNPIQT5c+1fNpzG8K8xnRo6gl9n0DOEGuGS1IZK3WzsW26V6P8AHurUZzaNGcea2pjINvdI9YHk4wz/AL51bYljrXSE3uScgOa602tDoJA5s0LyHA+4y62wqvCYDK65qKeMk/402r6Fr/seda8ufDPbcmV7nkNBsByA5dJPhus7QPyDRn6Tzq30b0M4a3/kKEjlENQJH9lguh4ZobDCBrPc/cA0HftJ7Vplz4Yzyy+O30xeF0+y+Z5AOT1r490aBzcPucvfVFYcvf2Ld4KaOMWY0N3be3atP7qJ94/7qi+3YvHycnb01w4+t8t/wiJrKeFrRZrYYg0czQwABXat8O7zH1UfmhXC8j2CIiAiIgIiICIiC2xHvMnVSeaV59qTxzvXoPEe8ydVJ5pXnmqPHdvV4M+RTdLqi6XVs1d1rVdQPa8hrS5pN22BPg8C2K6i6G2sChl1g3UcCecZdq2aJuq0C5NgBc7T0qbqLo7aklQSouqSUcVA5jeFi8WgLnv/AG5L7rlZEHMbwsnPSMAva7nlxN+QX9fkW3F7qcmj0ODPlmYLHjSNAHPcr4+1jmO2G18+hdS0TwsOqI3Ef4jbbgbk/UrTGcLEcjiBlrEHoIOX1KuuPp3tWp4dAWkZkdI/vYt8wHFqiKw4R4HQ428LdhWJp6BjxfMOBsbc3Jcdo8CylDSkWbtI2dI5lplfGmdb7h2NucBrWePjDI/32LC902RrsPuD/mqLI7e/sVrRlzDkCOcHYV8tPZQ7D7j5zReD3di82c0vGup4d3mPqo/NCuFb4d3mPqo/NCuF5nqEREBERAREQEREFtiPeZOqk80rzvVnju3r0TiPeZOqk80rzpVnju3q8GfIoupuqLpdWzVXS6puougquouqbqLoKrqCVTdQSgkHMbwtvhw/hNUn4IaMuU8p+slaaDmN4XS8Kj9yaf1Qrwuk5L3Ryl92BtYNsB5fQrfGqMcK8EXDr+W3qWw4LT6tjy5n0L5YzT3JPMb+Arnf6ldfDSYcOLC4XuC0kc9xnn4NZVNuMxkQbjes46MBwJ2XF+kcv1XUVWFWPFPgPoK0uW2cfWmmDmg842cx5R23WG08PvL/AHNH9uxZOjhc1pB5DceHI+hYbTl3vQfvNH9sxRmrH269h3eY+qj80K4Vvh3eY+qj80K4XmeoREQEREBERAREQW+I95k6qTzSvOVWeO7eV6NxHvMnVSeaV5wqzx3b1eDPkUXS6pul1bNVdRdU3UXQVXUXVN1F0dVXVJKi6glBIOY3hdYwGLWjZzaouuSXzG8LteAMApo7csbSexNuMxQtzO4BU1rONvCuKJnF3lU1zMgVnvyv8NZq4rGyvHZgHnAPaFcVMIeM9vIV8ZG2AH6vpK134ZX7lrqi+ezl3Hatd7oFNq0gIP8AmaP7Zi2NxWA7obveY6aiiP8A9mJd6dnt1XDu8x9VH5oVwrfDu8x9VH5oVwsHpEREBERAREQEREFviPeZOqk80rzdV98dvK9I4j3mTqpPNK82VZ90dvV4M81F0uqbqLq0KrqLqLqLoJJUXUFQgm6glRdQSgA5jeF2vAne94urZ5FxIHMbwu1aLjWjiHMxt+xcvok3W1wNs0blRVtu0r7BHC4WX4WwMj18qlhLQRtF/Qqaw6riOlTHJxP4vR/0t8Z42zvi6Y/XWD7oB95MP+ppR2TMPpK2SaMO6DzrXdPo7UA6Kui7OFaPUruuqJb2jq2Hd5j6qPzQrhW+Hd5j6qPzQrheV6xERAREQEREBERB8K5t4ngcsbx/xK801R47t69Orzxppgr6OrfGQQwm8Z5HMN9U9g7Q7mV4ozYS6i6i6i6tmquououougm6i6glRdBVdUkqklQSgkHMbwu9aGU9qaN5/OjZbdZcPwagkqZ2RRjjOcM+Ro2lx6ALnwL0HSlkbGsbk1jWtaOZrRYeRTk7LpfXS6tvZA509kDnUu7YzSGDY8bj6Fjo3e5H9tvkctgqHse0tdmCLFa/XR8FE7O/HbbdmtML9NjPkvmPkZlgNPph7Bt8apowN/DMPoV2alYdo9ta+Cji48MEvC1cgzYHNBaGX5xrEnkBLBtKu6kcktrs1C20TAeSNg/4hfdEXmeoREQEREBERAREQFi8fwCmro+DnZe19V7bB7CduqfAMjcZDLILKIg5XWdyI3PBVYtyB7CCPCL3+pWv4o6j5xF9J39C68irtU9Y5D+KKo+cRfSd/Qo/FFP84i+k7+hdfRO1Okcg/FFP84i+k7+hPxQz/OIvpO/oXX0TtTpHHz3Iaj5zF2u/oUnuPz2/KYr8x19XtAuuvonanWOTYf3MsSpy4wYjHFrZHUjjOXMC+Mm3hV+NC8c/S48VB9yulIubp1jmv4F45+lx4qD7lPwLxz9MDxUH3K6UibOsc1OheOfpgeKg+5Xym0Dxl4s7FgRzcHD9yunom6dY5bF3KqmQ2qsVmcz85kQDQ8cxLQ0+Vb5o3o5S4fFwVNGGDLWcba7yOVx8JyFhmecrLIltrskgiIuOiIiAiIgIiICIiAiIgIiICIiAiIgIiICIiAiIgIiICIiAiIgIiICIiD//2Q==");
background-size: cover;

}

.split.right {
  position: absolute;
  right: 0;
  background-color: yellow;
  color: black;
background-image: url("https://cellmart.pk/wp-content/uploads/2025/03/sam-s25-ultra-silverblue-cellmart-1-595x595.jpg");
background-size: cover;
}


.left, .right{
  transition: width 2s ease-in-out;
}