*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
.btn{
    background-color: pink;
    padding: 20px 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    text-decoration: none;
    border-radius: 5px;
    position: relative;
    color: black;
    overflow: hidden;
}
.btn::before{
    content: "";
    position: absolute;
    background-color: orange;
    width: 0;
    height: 0px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    transition:  width 0.5s, height 0.4s ;

}
.btn:hover::before{
    width: 300px;
    height: 300px;
}