*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    text-align: center;
}
.circle{
    text-align: center;
    height: 100px;
    width: 100px;
    border: 2px solid red;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}