body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: aliceblue;
}

.search-bar-container {
  display: flex;
  align-items: center;
  background-color: aliceblue;
  padding: 5px;
  width: 300px;
  height: 50px;
  border-radius: 50px;
  box-shadow: 
    6px 6px 10px rgba(0, 0, 0, 0.2),
   -6px -6px 10px rgba(255, 255, 255, 0.7);
  position: relative;
  transition: width 0.4s;
}

/* icons */
.magnifier {
  width: 25px;
  cursor: pointer;
  position: absolute;
  left: 20px;
}

.mic-icon {
  width: 30px;
  position: absolute;
  right: 10px;
  transition: width 0.4s;
}

/* input */
.input {
  background-color: transparent;
  border: none;
  margin: 10px 50px;
  width: 100%;
  outline: none;
  color: rgb(100, 100, 100);
  transition: width 0.4s;
}

/* ACTIVE STATE */
.search-bar-container.active {
  width: 50px;
}

.search-bar-container.active .input {
  width: 0;
}

.search-bar-container.active .mic-icon {
  width: 0;
}

.search-bar-container.active .magnifier {
  left: 50%;
  transform: translateX(-50%);
}
