body{
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

.label1{
    position: absolute;
    width: 80px;
    height: 40px;
    background-color: rgb(217, 23, 23);
    border-radius: 23px;
}

.input{
   visibility: hidden; 
}

.circle{
    width: 34px;
    background-color: rgb(226, 8, 150);
    height: 34px;
    border-radius: 50%;
    top: 3px;
    position: absolute;
    left: 3px;
}
.input:checked + .label1{
    background-color: salmon;
}

@keyframes toggleOn{
 0%{
    transform: translateX(0);
 }   100%{
    transform: translateX(40px);
 }
}