*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
     display: flex;
     justify-content: center;
     height: 100vh;
     align-items: center;
     text-align: center;
     background-color: yellow;
     font-family: cursive;
}
.form{
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    margin: 10px;

    
}
.input{
    display: block;
    width: 100%;
    box-sizing: border-box;
}