*{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

.testimonial-container{
width: 500px;
height: 300px;
background-color: rgb(0, 106, 255);
border-radius: 10px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
min-width: 400px;
padding: 40px 20px;
margin: 5px;
position: relative;

}

img{
    width: 100px;
    height: 100px;
border-radius: 50%;
position: absolute;
left: 50%;
transform: translate(-50%);
top: -60px;

}
.username{
    font-size: 14px;
    font-weight: 200;
}