.year{
    color: blue;
    font-weight: bolder;
}
.countdown{
 color: brown;
 font-weight: bolder;
 font-family: 'Times New Roman', Times, serif;   
 display: flex;
 align-items: center;
 justify-content: center;
 
}