*{
    margin: 0;
    padding: 0;
}

div{
    background-color: azure;
    color: black;
    display: block;
    align-items: center;
    justify-content: center;
}
div{
    width: 400px;
    height: 200px;
}