* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.container {
  width: 100%;
  min-height: 100vh;
  background: #d0eaff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product {
  width: 90%;
  max-width: 750px;
  display: flex;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
  background: #fff;
}

/* Gallery Section */
.gallery {
  flex-basis: 47%;
  background: #241e20;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gallery img {
  width: 100%;
  display: block;
  padding: 50px 0;
  transition: all 0.3s ease;
}

.controls {
  position: absolute;
  bottom: 30px;
  right: 20px;
}

.btn {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.5);
  margin: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn.active {
  background: #553ff0;
  transform: scale(1.3);
}

/* Details Section */
.details {
  flex-basis: 53%;
  background: #fff;
  padding: 40px 60px;
}

.details h1 {
  color: #333;
  font-size: 35px;
}

.details h2 {
  color: #555;
  font-size: 30px;
  font-weight: 600;
}

.details p {
  color: #777;
  margin-top: 10px;
}

form {
  margin-top: 30px;
}

.size-select,
.color-select,
.quantity-select {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.size-select p,
.color-select p,
.quantity-select p {
  width: 75px;
  font-weight: 500;
}

/* Size Section */
.size-select input {
  display: none;
}

.size-select span {
  padding: 5px;
  margin-right: 10px;
  cursor: pointer;
}

.size-select input:checked + span {
  color: blue;
  font-weight: 600;
}

/* Color Section */
.color-select input {
  display: none;
}

.color-select span {
  display: inline-block;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  margin-right: 15px;
  cursor: pointer;
  transition: 0.3s;
}

.color-1 {
  background: red;
}

.color-2 {
  background: green;
}

.color-3 {
  background: blue;
}

.color-4 {
  background: black;
}

.color-select input:checked + span {
  transform: scale(0.7);
  box-shadow: 0 0 0 4px #fff, 0 0 6px #000;
}

/* Quantity */
.quantity-select input {
  background: #eee;
  border: none;
  outline: none;
  padding: 5px 10px;
  width: 50px;
  border-radius: 10px;
  text-align: center;
}

/* Button */
form button {
  background: #553ff0;
  color: #fff;
  font-size: 17px;
  width: 100%;
  padding: 10px;
  border-radius: 30px;
  border: 0;
  outline: 0;
  margin-top: 40px;
  box-shadow: 0 10px 10px rgba(85, 63, 240, 0.25);
  cursor: pointer;
  transition: all 0.3s ease;
}

form button:hover {
  background: #432ddc;
  transform: scale(1.03);
}
