*{
    margin: 0;
    padding: 0;
}

nav{
    background-color: purple;
    color: white;
    height: 92px;
    font-size: 25px;
    display: flex;
    align-items: center;
    padding: 0 13px;
}
nav ul{
    list-style-type: none;
}
.gameContainer{
    background-color: #b41919;
    display: flex;
    justify-content: center;
    margin-top: 50px;

}
.container{
    display: grid;
    grid-template-columns: repeat(3,10vw);
    grid-template-rows: repeat(3,10vw);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}