*{
    margin: 0;
    padding: 0;
}

nav{
    background-color: purple;
    color: white;
    height: 92px;
    font-size: 25px;
    display: flex;
    align-items: center;
    padding: 0 13px;
}
nav ul{
    list-style-type: none;
}
.gameContainer{
    background-color: #b41919;
    display: flex;
    
}