*{
    margin: 0;
    padding: 0;
}

nav{
    background-color: purple;
    color: white;
    height: 92px;
    font-size: 25px;
    display: flex;
    align-items: center;
    padding: 0 13px;
}
nav ul{
    list-style-type: none;
}
.gameContainer{
    background-color: #b41919;
    display: flex;
    justify-content: center;
    margin-top: 50px;

}
.container{
    display: grid;
    grid-template-columns: repeat(3,10vw);
    grid-template-rows: repeat(3,10vw);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.box{
    border: 2px solid black;
    font-size: 7vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

}
.box:hover{
    background-color:rgba(255, 106, 0, 0.911);
    font-size: 9vw;
}
.gameinfo{
    padding:0 34px;
}

.imgbox img{
    display: none;
}

.br-0{
    border-right: 0;
}


.bl-0{
    border-left: 0;
}
.bt-0{
    border-top: 0;
}
.bb-0{
    border-bottom: 0;
}